/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/*.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}*/

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}
.box {
	display: flex;
	height: 100%;
}

.box div.left {
    flex: 1;
	align-self: ;
	min-width: 400px;
	min-height: auto;
    padding: 5px 10px 10px 10px;
    height: 100%;
}

.box div.right {
    flex: 4;
	min-width: 0;
	min-height: auto;
}

#geojson {
    display: flex;
    height: 100%;
